{{#if posts.length}}
  <h1 class="text-center mb-5">Global Post</h1>
  {{#each posts as |post|}}
    <div class="row mb-2" id="post-list">
      <div class="col-md-10 bg-white round">

        {{!-- Header of a post --}}
        <div class="row mb-2 title round-top">
          <div class="col-md-8 title round-top">
            <h1 class="title">{{post.title}}</h1>
          </div>
          <div class="col-md-4 title round-top">
            <h6 class="title">Posted by {{post.user.name}} on {{post.date_created}}</h6>
          </div>
        </div>

        {{!-- Content of a post --}}
        <h4 class="bg-white text-dark p-3">{{post.text}}</h4>
      </div>

      <div class="col-md-2">
        <a class="btn btn-sm" data-id="{{post.id}}" href="/api/post/{{post.id}}">View Comments</a>
      </div>
    </div>
  {{/each}}
{{else}}
  <h3>There are no post!</h3>
{{/if}}