<div class="row">
  <div class="col-auto" id="post-list">
    {{#if posts.length}}
      <h3>Global Post</h3>
      {{#each posts as |post|}}
        <div class="row mb-2">
          <div class="col-md-8">
            <h1>{{post.title}}</h1>
            <h4>{{post.text}}</h4>
            <h6>Posted by {{post.user.name}} on {{post.date_created}}</h6>
            <h6>{{post.comment}}</h6>
          </div>
        </div>
      {{/each}}
    {{else}}
      <h3>There are no post!</h3>
    {{/if}}
  </div>
</div>